.message {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message.own {
    align-items: flex-end;
}

.message.own > .message-top > p {
    background-color: #EFF3F4;
    color: black;
}

.message > span {
    font-size: 14px;
    color: var(--grey-text);
    margin-top: 10px;
}

.message-top {
    display: flex;
}

.message-top > p {
    margin-left: 15px;
    padding: 10px;
    background-color: var(--twitter-color);
    border-radius: 20px;
    color: #fff;
    margin-bottom: 0;
    max-width: 300px;
}