
.message-widget {
    /* flex: 0.2; */
    padding-top: 20px;
    padding-left: 40px;
    overflow-y: scroll;
}

.message-widget::-webkit-scrollbar {
    display: none;
}

.message-searchbar {
    display: flex;
    /* padding-left: 20px; */
    padding-top: 20px;
    padding-bottom: 35px;
    border-bottom: 8px solid var(--twitter-background);
    margin-bottom: 10px;
}

.message-searchbar > input {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    border: none;
    background-color: #EFF3F4;
    padding-left: 20px;
    outline: none;
}

.widget-conversation:hover {
    background-color: #EFF3F4;
}